@import url("./navigation-bar.css");
@import url("./section1.css");
@import url("./section2.css");
@import url("./section3.css");
@import url("./section4.css");
@import url("./section5.css");
@import url("./section6.css");
@import url("./section7.css");
@import url("./section8.css");
@import url("./footer.css");


/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');



:root {
    --main-bg-color: #f9fafa;
    --hero-bg-color: #0c0d0e;
    --header-top-border-color: #e7700d;
    --header-bottom-border-color: #d6d9dc;
    --menu-bar-bg-color: #636b74;
    --btn-bg-color: #1b75d0;
    --btn-bg-color-2: #cc7b0d;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: "Source Sans 3", sans-serif;
}

h1, h2, h3 {
    font-family: "Roboto Slab", serif;
}

button {
    width: 211px;
    height: 43px;
    border-radius: 10px;
    /* color: white; */
    border: none;
    /* text-wrap: wrap; */
    font-size: 15px;
}

