
header {
    height: 52px;
    background: #fff;
    border-top: 3px solid var(--header-top-border-color);
    border-bottom: 1px solid var(--header-bottom-border-color);
    font-size: 0.75rem;
    width: 100%;
    position: fixed;
    margin-bottom: 52px;
    z-index: 100;
}

header .nav-bar {
    display: grid;
    grid-template-columns: 50px 150px 1.75fr 5fr 1fr;
    align-items: center;
    place-items: center;
    max-width: 1250px;
    margin: 0 auto;
    height: 100%;

}

.menu-bar {
    color: var(--menu-bar-bg-color);
    font-size: 1.1rem;
    /* padding-inline: 50px; */
}

.nav-links {
    width: 100%;
}

.nav-links ul{
    list-style: none;
    display: flex;
    /* grid-template-columns: repeat(3, 1fr); */
    align-items: center;
    justify-content: space-evenly;
    gap: 3px;
    flex-wrap: nowrap;
}

.nav-links ul li {
    border-radius: 20px;
    padding: 6px 12px;
    font-size: 0.85rem;
    text-wrap: nowrap;
}

.nav-links ul li:hover, .logo-and-name:hover {
    background: #e3e6e8;
    cursor: pointer;
}

.logo-and-name {
    border-radius: 5px;
    padding: 6px 10px;
    /* height: 100%; */
}

.logo-and-name img {
    width: 100%;
}

.search-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.search-bar input {
    width: 95%;
    height: 32px;
    padding-left: 35px;
    border-radius: 5px;
    border: 1px solid var(--header-bottom-border-color);
}
.search-bar i {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
    color: var(--header-bottom-border-color);
    font-size: 1rem;
}
.search-bar input:focus {
    border: none;
    outline: 1px solid var(--btn-bg-color);
}
.login-signup {
    /* width: 100%; */
    display: flex;
    /* padding-right: 50px; */
    gap: 5px;
}

.login button, .signup button {
    height: 32px;
    border-radius: 5px;
    border: none;
}
.login button {
    width: 56px;
    background-color: #fff;
    border: 1px solid var(--btn-bg-color);
    color:  var(--btn-bg-color);
}
.signup button {
    width: 66px;
    background-color:  var(--btn-bg-color);
    /* border: 1px solid #fff; */
    color: #d6e8fa;
}


/*==============================================*/
/*==============Responsive Designe==============*/
/*==============================================*/



@media screen and (max-width: 1300px) {

}

@media screen and (max-width: 816px){
    
    header .nav-bar {
        grid-template-columns: 50px 175px 1fr 5fr 1fr;
    }

    .nav-links .nav-hide {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .search-bar .nav-hide {
     display: none;
    }
}