.section-4 {
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.three-img {
    display: flex;
    position: relative;
    justify-content: center;
    width: 75%;
}

.three-img img {
    /* max-width: 319px; */
    max-width: 25%;
    height: auto;
    z-index: 10;
    position: absolute;
    border-radius: 5px;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.2);
}

.three-img .img-1 {
    left: -10% !important;
}

.img-1 {
    display: flex;
    justify-content: flex-end;
}

.img-2 img{
    height: auto;
    max-width: 479px;
    /* max-width: 100%; */
    /* object-fit: fill; */
}

.img-3 {
    display: flex;
    justify-content: flex-start;
}    

.img-1, .img-2, .img-3 {
    width: 33.33%;
}    

.img-1, .img-3{
    padding-top: 60px;
}    

.img-2 {
    display: flex;
    width: 33.33%;
    justify-content: center;
    position: relative;
}    



.three-img .img-2 {
    /* width: 100% !important; */
    z-index: 11 !important;
    height: 200px;
}

.on-top{
    z-index: 11;
}



.main-section-4 {  
     z-index: 10;
     /* position: absolute; */
    background: linear-gradient(rgba(0,0,0,1) , hsl(210, 8%, 25%));
    margin: 0 auto;
    width: 90%;
    border-radius: 10px;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    flex-direction: column;
    height: auto;
    align-items: center;
    /* top: 194%; */
}
.center-content {
    /* margin: 0 300px 0 300px; */ /*check this out later*/
    padding: 24px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-section-4-logo {
    margin-top: 5%;
}

.main-section-4 .head-text {
    color: white;
    max-width: 730px;
    min-width: 600px;
    margin: 0px 158px 32px;
    text-align: center;
    font-size: 1.12rem;
}

.main-section-4 .head-text span {
    color: var(--btn-bg-color-2);
}

.take-atour-btn button{
    width: 200px;
    height: 43px;
    color: white;
    font-size: 0.85rem;
    background: var(--btn-bg-color);
    border: none;
    border-radius: 5px;
}

.advantages-texts {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-inline: 5%;
    margin: -24px -24px 64px;
    width: 80%;
    /* gap: 30px; */
    text-align: center;
    color: white;
}

.advantages-texts .text-heading {
    font-size: 0.85rem !important;
}

.text-description {
    font-size: 1.06rem;
}

.advantages-texts .text-description {
    color: #91969c;
}

.advantages-texts div {
    gap: 10px;
}

.advantage-1 {
    display: flex;    
    flex-direction: column;
    margin: 24px;
    /* max-width: 319px; */
    /* height: auto; */
}


.ensure-div {
    /* width: 60%; */
    border-top: 0.1px solid #91969c67;
    color: white;
    text-align: center;
    padding: 64px 0 0;
}

.ensure-div h1 {
    font-size: 2.1rem;
}
.ensure-div p {
    font-size: 1.2rem;
}

.tools-display {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0 0;
    margin: -6px 378px 128px 378px;
}
.tool {
    margin: 6px;
    padding: 32px 0;
    width: 161px;
    text-align: center;
    color: #f9fafa;
}
.tool:hover {
    background: #0c0d0e;
    cursor: pointer;
    border-radius: 10px;
}
.tool svg {
    fill: #a1a7ad;
}
.tool h3 {
    padding: 24px 32px 0;
}
.tool p {
    padding: 0 24px;
    margin: 0 0 17px;
}
.hidden-text {
    display: none;
}
.svg-fill {
    fill: #1b75d0 !important;
}
.selected-tool {
    margin: 6px;
    padding: 32px 0;
    width: 324px !important;
    text-align: center;
    background: #3b4045;
    border-radius: 10px;
    color: #f9fafa;
}
.selected-tool:hover {
    background: #3b4045;
}

.billing {
    display: flex;
    flex-direction: column;
}

.annual-billing {
    margin: 0 0 24px;
    color: white;
}

.offers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.offer-1 {
    height: 560px;
    width: 342px;
    background: white;
    border-radius: 5px;
    padding: 24px;
    display: flex;
    flex-direction: column;

}

.offer-type {
    background: #e7700d;
    height: 30px;
    width: 46px;
    padding: 4px 8px;
    border-radius: 5px;
    color: white;
    margin: 0 0 17px;
}

.basic .offer-type {
    width: 53px;
    background: #c8ccd0;
    color: black;
}
.business .offer-type {
    width: 78px;
    background: #3b4045;
}
.enterprise .offer-type {
    width: 89px;
    background: #2b2d6e;
}

.free .offer-price {
    border-bottom: 1px solid #e7700d;
}
.offer-price {
    margin: 0 0 24px;
    padding: 0 0 24px;
    border-bottom: 1px solid #e3e6e8;
}
.offer-price h2 {
    font-size: 1.7rem;
}
.offer-price p, .offer-team-size p {
    color: #c6b5b4;
    padding: 0;
    font-size: 0.94rem;
}

.options {
    display: flex;
    align-items: flex-start;
    margin: 0 0 12px;
    
}
.options div {
    margin: 0 12px 0 0;
    padding-top: 3px;
}
.options svg {
    width: 18px !important;
    fill: black !important;
}
.options p {
    font-size: 0.94rem;
}
.seperation-div {
    margin: 100px 0px 0px;
}
.get-offer-btn {
    /* margin: 100px 0px 0px; */
    margin-inline: auto;
}
.basic .seperation-div {
    margin: 47px 0px 0px;
}
.business .seperation-div {
    margin: -12px;
}
.enterprise .seperation-div {
    margin: 1px;
}

.get-offer-btn button {
    background: var(--btn-bg-color-2);
    width: 292px;
    font-weight: 500;
    border-radius: 5px;
    color: white;
    margin: 24px 0 0;
    /* padding: 12px 32px; */
}
.basic .get-offer-btn button {
    background: #c8ccd0;
    color: #0c3b6a;
}
.business .get-offer-btn button {
    background: #3b4045;
}
.enterprise .get-offer-btn button {
    background: #181a47;
}
.offer-team-size  {
    margin-inline: auto;
}
.offer-team-size p {
    padding: 12px 0 0;
}
.business .special {
    color: #bfc3c9;
}
.business .special svg {
    fill: #bfc3c9 !important;
}
.enterprise .special {
    color: #626a73;
}
.enterprise .special svg {
    fill: #626a73 !important;
}



.justifications {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -12px 273px 32px;
    padding: 24px;
    gap: 24px;
}

.justify {
    border: 2px solid #3d4042;
    border-radius: 10px;
    width: 280px;
    height: 153px;
    padding: 24px;
    text-align: center;
    font-size: 1.07rem;
    color: white;
}
.justify span {
    font-family: "Roboto Slab", serif;
    font-size: 1.31rem;
    padding: 0 4px;
    font-weight: 700;
    color: #1b75d0;
}

.justify button {
    width: 183.8px;
    height: 43.3px;
    border: 1px solid #1b75d0;
    background: none;
    color: #1b75d0;
    margin: 16px 0 0;
    /* padding: 12px 32px; */
    font-size: 1rem;
}


.integrated-tools {
    display: flex;
    /* margin: -16px; */
    color: white;
}

.microsoft-and-slack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.integration-heading {
    font-size: 1.42rem;
    margin: 0 0 12px;
}
.tool-description {
    font-size: 1.2rem;
    text-align: center;
    color: #babfc5;
    margin: 0 75px 32px 75px;
}

.tool-description a {
    text-decoration: none;
    color: var(--btn-bg-color);
}
.microsoft-tool, .slack-tool {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.microsoft-tool svg, .slack-tool svg{
    width: 24px;
    height: 24px;
}
.microsoft-tool:hover, .slack-tool:hover {
    cursor: pointer;
}
.tool-links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.tool-links div {
    background: white;
    border-radius: 5px;
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tool-links div svg, .tool-links div img {
    width: 48px;
    height: 48px;
}
.available-features {
    margin: 32px 0 0;
    padding: 0 0 32px;
    font-size: 1.2rem;
    color: #babfc5;
}
.end-sect-4 {
    width: 100%;
    height: 77px;
    position: relative;
}
.main-section-4-end {
    /* padding: 128px 0 96px; */
    display: flex;
    width: 100%;
    height: 154px;
    position: absolute;
    left: 25%;
    bottom: 25%;
    z-index: 20;
}
.main-section-4-end .box {
    background: #d6d9dc;
    margin: 12px;
    padding: 24px 24px 0;
    width: 227px;
    height: 154px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; */
    text-align: center;
    border-radius: 10px;
}
.main-section-4-end .box svg {
    fill: #27348b;
}
/*==============================================*/
/*==============Responsive Designe==============*/
/*==============================================*/





@media screen and (max-width: 1300px) {
    .three-img {
        width: 100%;
    }

    .three-img img {
        max-width: 25%;
    }

    .img-2 img{
        max-width: 100%;
    }
    .img-2 {
        width: 40%;
    }

}

@media screen and (max-width: 816px){
    .three-img {
        top: 90px;
    }
}


 
@media screen and (max-width: 640px) {
    .three-img .img-1, .three-img .img-3 {
        display: none;
    }
    .three-img {
        top: 0px;
    }
    .img-2 img{
        max-width: 200%;
    }
}