main {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
}

.section-1 {
    /* background: var(--hero-bg-color); */
    background: linear-gradient(rgba(0,0,0,1) , rgba(0,0,0,0.7));
    margin: 0;
    width: 95vw;
    border-radius: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}

.hero-bg {
    display: flex;
    /* width: 100%; */
    justify-content: space-around;
    gap: 40px;
}

.left-text-shape, .right-text-shape {
    height: 253px;
    width: 442px;
    padding: 15px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: relative;
}
.left-text-shape::after, .right-text-shape::after {
    content: '';
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 95%;
    border-radius: 10px;
}
    

.left-text-shape {
    background: #fbdbc1;
}
.left-text-shape::after {
    background: #fbdbc1;
    clip-path: polygon(100% 0, 100% 100%, 98% 100%, 31% 0);
    right: 0;
}
.right-text-shape {
    background: #d6e8fa;
}
.right-text-shape::after {
    background: #d6e8fa;
    clip-path: polygon(71% 0, 4% 100%, 0 100%, 0 0);
    left: 0;
}

.message-text {
    color: #fff;
    font-size: 2.3rem;
    text-align: center;
    width: 50%;
    margin: 50px auto;
}

.message-text .changing-text {
    display: inline-block;
    color: #e7700d;
}

.seperator {
    width: 100px;
    height: 10px;
    background: #636b74;
    border-radius: 10px;
}

.records {
    width: 60%;
    margin: 50px auto;
    display: flex;
    color: #fff;
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); */
    text-align: center;
    gap: 20px;
    justify-content: space-evenly;
    
}
.records .record-item {
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}

.section-1::after {
    content: "";
    width: 98vw;
    height: 25vh;
    background: white;
    position: absolute;
    /* border-radius: 50%; */
    border-top-left-radius: 50% 200px;
    border-top-right-radius: 50% 200px;
    bottom: -9.7%;
}

.text-button-1 button, .text-button-2 button {
    width: 211px;
    height: 43px;
    border-radius: 10px;
    color: white;
    border: none;
}

.text-button-2 button {
    background: var(--btn-bg-color);
}
.text-button-1 button {
    background: var(--btn-bg-color-2);
}

.text-button-1 p, .text-button-1 a {
    font-size: 0.75rem;
    color: #926b75;
}
.text-button-1 a:hover {
    color: var(--btn-bg-color-2);
}

.hero-bg .text {
    font-size: 1.2rem;
    width: 70%;
}

.right-text-shape svg {
    fill: var(--btn-bg-color);
}

.left-text-shape svg {
    fill: var(--btn-bg-color-2);
}
.rect-getstarted {
    color: #3B4045;
}


/*==============================================*/
/*==============Responsive Designe==============*/
/*==============================================*/


@media screen and (max-width: 816px){

 }
 
 @media screen and (max-width: 640px) {
    .hero-bg {
        flex-wrap: wrap;
    }
 }