
.section-2 {
    position: relative;
    z-index: 4;
    top: -250px;
    /* width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 100%;
}

.section-2 h1 {
    font-family: "Roboto Slab", serif;
    font-size: 1.75rem;
}

.section-2 .rect-1, .section-2 .rect-2 {
    border-radius: 10px;
    width: 520px;
    /* max-width: calc(100% - 700px); */
    height: 857px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 51px 0;
    box-shadow: 1px 5px 10px rgba(0,0,0,0.2) ;
}

.section-2 .rect-1 {
    background: linear-gradient(white, #f2af78);
}



button:hover {
    cursor: pointer;
}

.rect-1 .rect-logo img{
    width: 35%;
}

.rect-btn button {
    max-width: 211px;
    height: 43px;
    padding: 0 20px;
    border-radius: 5px;
    color: white;
    border: none;
}

.rect-1 .rect-btn button {
    background: #cc7b0d;
}

.rect-1 .rect-btn button:hover {
    background: #ea7110;
}

.rect-1 .rect-search, .rect-search a {
    font-size: 0.75rem;
    color: #926b75;
}

.rect-1 .rect-search a:hover {
    color: var(--btn-bg-color-2);
}

.rect-text {
    width: 80%;
    font-size: 1.2rem;
    color: #3B4045;
}


.section-2 .rect-2 {
    background: linear-gradient(white, #92c2f2);
}

.rect-2 .rect-btn button {
    background: var(--btn-bg-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.rect-2 .rect-btn {
    display: flex;
    gap: 8px;
}

.rect-img {
    max-width: 520px;
    /* min-height: 346px; */
}
.rect-img img{
    width: 100%;
    height: auto;
}

.rect-topic {
    width: 80%;
}


/*==============================================*/
/*==============Responsive Designe==============*/
/*==============================================*/


@media screen and (max-width: 1300px){
    .section-2 .rect-1, .section-2 .rect-2 {
        width: 40%;
    }    

    
}

@media screen and (max-width: 816px){
    .section-2 {
        flex-wrap: wrap;
    }
    
    .section-2 .rect-1, .section-2 .rect-2 {
        width: 70%;
    }
    
}

@media screen and (max-width: 640px) {
    .section-2 .rect-1, .section-2 .rect-2 {
        width: 85%;
    }
    
}